@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(160deg, rgba(0, 0, 0, 1) 30%, rgb(51, 51, 51) 100%);
}

.logo {
    color: rgb(255, 167, 2);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.logo h1 {
    font-size: 40px;
}

.logo p {
    margin-top: -5px;
    letter-spacing: 2px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .logo {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .logo {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .logo {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

/* WELCOME */

.welcome {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.welcome .wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10% 5%;
}

.welcome h2 {
    font-size: 24px;
    font-style: italic;
    padding-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.welcome p:nth-last-child(1) {
    padding-top: 10px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .welcome .wrapper {
        padding: 7% 10%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .welcome .wrapper {
        padding: 7% 10%;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .welcome .wrapper {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 5% 15%;
    }

    .welcome h2 {
        font-size: 28px;
        padding-bottom: 20px;
    }

    .welcome p {
        font-size: 22px;
    }

    .welcome p:nth-last-child(1) {
        padding-top: 20px;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .welcome .wrapper {
        padding: 3% 15%;
    }

}

/* ABOUT */

.about {
    text-align: center;
}

.about h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding: 10%;
}

.about p {
    padding: 0 5% 10% 5%;
}

.aboutDes {
    background-image: url(img/car.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.aboutDes h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding: 10%;
}

.aboutDes p {
    padding: 0 5% 10% 5%;
    font-size: 16px;
}

.aboutDesWrap {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);

}


@media (min-width: 768px) and (orientation: portrait) {

    .about h2 {
        padding: 5%;
    }

    .about p {
        padding: 0 10% 10% 10%;
    }

    .aboutDes h2 {
        padding: 10% 10% 5% 10%;
    }

    .aboutDes p {
        padding: 0 10% 10% 10%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .about h2 {
        padding: 5%;
    }

    .about p {
        padding: 0 10% 10% 10%;
    }

    .aboutDes h2 {
        padding: 10% 10% 5% 10%;
    }

    .aboutDes p {
        padding: 0 10% 10% 10%;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {

    .about h2 {
        font-size: 28px;
        padding: 5%;
    }

    .about p {
        font-size: 22px;
        padding: 0 15% 5% 15%;
    }


    .aboutDes h2 {
        font-size: 28px;
        padding: 5%;
    }

    .aboutDes p {
        padding: 0 15% 10% 15%;
        font-size: 22px;
    }

    .aboutDesWrap {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .about h2 {
        padding: 3%;
    }

    .aboutDes h2 {
        padding: 3%;
    }

    .aboutDes p {
        padding: 0 15% 5% 15%;

    }
}

/* SERVICES */

.services {
    text-align: center;
}

.services h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding: 10%;

}

.services h3 {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 2%;
}

.services p {
    font-size: 16px;
}

.servicesElm {
    padding: 2% 5%;
    margin-bottom: 5%;
}

.servicesElm .fas {
    font-size: 46px;
    color: rgb(255, 167, 2);
}

.servicesElm button {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 2px 10px;
    background-color: white;
    border: 1px solid gray;
}

.servicesElm p:last-child {
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.servicesElm p:last-child.active {
    opacity: 1;
    max-height: 400px;
    visibility: visible;
}

@media (min-width: 768px) and (orientation: portrait) {

    .services h2 {
        padding: 5%;
    }

    .services h3 {
        padding-top: 2%;
    }

    .servicesElm {
        padding: 0% 20%;
        margin-bottom: 2%;
    }

}

@media (min-width: 1024px) {
    .services {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }

    .services h2 {
        flex-basis: 100%;
        padding: 5%;

    }

    .servicesFlexWrap {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-basis: 50%;
    }

    .servicesElm {
        flex-basis: 100%;
        padding: 2% 5%;
        margin-bottom: 2%;
    }

}

@media (min-width: 1440px) and (orientation: landscape) {
    .services {
        margin: 0 auto;
        width: 70%;
    }

    .services h2 {
        font-size: 28px;
    }

    .services h3 {
        font-size: 22px;
        padding-top: 2%;
    }

    .services p {
        font-size: 20px;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .services h2 {
        padding: 3%;
    }
}



/* CALL SECTION */

.callUs {
    text-align: center;
    color: white;
    background-color: black;
}

.callUs h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding: 5%;
}

.callUs p {
    font-size: 16px;
    padding: 0 5% 5% 5%
}

.callUs button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    border: 1px solid black;
    height: 70px;
    width: 70px;
    margin: 3% 5%;
}

.callUs button a {
    opacity: 0;
    padding: 20px;
}

.call {
    background-image: url(img/call.png)
}

.whatsapp {
    background-image: url(img/whatsapp.png);
}

.telNum a {
    display: none;
    font-size: 36px;
    letter-spacing: 3px;
    color: rgb(255, 167, 2);
    text-decoration: none;
}


@media (min-width: 768px) and (orientation: portrait) {

    .callUs h2 {
        padding: 5% 5% 2% 5%;
    }

    .callUs p {
        padding: 0 5% 0% 5%
    }
}

@media (min-width: 1024px) and (orientation: landscape) {

    .callUs h2 {
        padding: 5% 5% 2% 5%;
    }

    .callUs p {
        padding: 0 5% 0% 5%
    }
}

@media (min-width: 1440px) and (orientation: landscape) {

    .callUs h2 {
        font-size: 28px;
        padding: 5%;
        padding-bottom: 2%;
    }

    .callUs p {
        font-size: 22px;
        padding: 0 5% 2% 5%
    }

    .callUs button {
        display: none;
    }

    .telNum a {
        display: block;
    }

}

@media (min-width: 1600px) and (orientation: landscape) {
    .callUs h2 {
        padding: 3%;
        padding-bottom: 1%;
    }

    .callUs p {
        padding: 0 3% 1% 3%
    }
}

/* CONTACT */

.contact {
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: black;
}

.contact ul {
    font-size: 16px;
    color: white;
    list-style: none;
    padding: 5px;
    padding-bottom: 20px;
}

.contact ul li:first-child {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact ul a {
    color: white;
    text-decoration: none;
}

.copy {
    background-color: black;
    text-align: center;
    color: rgb(255, 167, 2);
    padding: 5px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .contact {
        padding-top: 15px;
    }

    .contact ul {
        padding-bottom: 10px;
    }

    .copy {
        padding: 10px;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .contact {
        padding-top: 15px;
    }

    .contact ul {
        padding-bottom: 10px;
    }

    .copy {
        padding: 10px;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {

    .contact ul {
        font-size: 18px;
    }

    .copy {
        font-size: 18px;
    }
}